body {
  background-color: aliceblue;
  width: 340px;
  overflow: hidden;
  margin: 10px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 340px;
  overflow-y: visible;
}

.note {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  position: relative;
  border-radius: 10px;
}

.del {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  border-width: 1px;
}

.note-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0px;
  padding: 5px;
  min-height: 88px;
  overflow-y: auto;
}

#info {
  resize: none;
  overflow: hidden;
  width: 340px;
  border-radius: 10px;
}

#add {
  width: 340px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px;
  height: 25px;
}
