body {
  background-color: aliceblue;
  overflow: hidden;
  margin: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

label {
  font-size: medium;
}

.flex {
  display: flex
}

.topContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  gap: 10px;
  padding-top: 10px;
}

.highlight {
  border: 2px solid rgba(6, 209, 255, 0.967);
}

#dAdd {
  margin-top: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: none;
}

.del {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  border-width: 1px;
  display: none;
}

.note {
  width: 340px;
  height: 100px;
  padding: 0px;
  background-color: lightblue;
  position: relative;
  border-radius: 10px;
  height: 100%;
}

.note-content {
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 0px;
  padding: 5px;
  min-height: 88px;
  overflow-x: scroll;
  max-width: 100%;
  height: 100px;
  white-space: pre-wrap;
}

.time-text {
  text-align: end;
  width: 100%;
  margin-right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  /* Make sure it's on top */
}

#entryContainer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

#entryLeftCol {
  flex: 0 0 80%;
}

#entryRightCol {
  flex: 0 0 20%;
}

#info {
  width: 100%;
  height: auto;
  resize: none;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px;
}

#add {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

#tagRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  padding-top: 2px;
}

.new-tag {
  background-color: #006884;
  color: white;
  padding: 2px 8px;
  border-radius: 9999px;
  align-items: center;
}

.tag {
  background-color: lightblue;
  color: black;
  padding: 2px 8px;
  border-radius: 9999px;
  position: relative;
}

.tag-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  gap: 5px;
}

.note-tag {
  background-color: #006884;
  color: white;
  padding: 2px 8px;
  border-radius: 9999px;
  position: relative;
}

.settings-modal {
  padding-left: 20%;
  padding-right: 20%;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
  height: 2%;
  color: 006884;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::backdrop {
  background: gray;
  opacity: 0.50;
}