body {
  background-color: aliceblue;
  height: 300px;
  width: 300px;
}

#container {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1500px;
  width: 300px;
  overflow-y: auto;
}

.note {
  width: 50px;
  height: 50px;
  background-color: lightblue;
  position: relative;
}

.del {
  position: absolute;
  top: -5px;
  right: -5px;
  border-radius: 50%;
  border-width: 1px;
}

.note-content {
  border: 1px solid #ccc;
  margin: 0px;
  padding: 5px;
  min-height: 88px;
  overflow-y: auto;
}
